/* Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../images/admin.jpg') no-repeat center center/cover;
    height: 100vh;
}

/* Layout */
.main-layout {
    display: flex;
    height: 100vh;
    overflow: hidden; /* stop full page scroll */
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #fff4e6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.dashboard-btn {
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
    background: #b07a3f;
    border-radius: 12px;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: #5a3e2b;
    border-radius: 8px;
}

.menu-item:hover,
.menu-item.active {
    background: #b07a3f;
    color: #fff;
}

/* Content */
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Search Container */
.search-container {
    background: rgba(255, 244, 230, 1);
    width: 650px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Title */
.form-message {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #5a3e2b;
}

/* Search box */
.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-box button {
    padding: 12px 20px;
    background: #b07a3f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-box button:hover {
    background: #8a5c2b;
}

/* Results Box */
.results-box {
    max-height: 300px;
    overflow-y: auto;  /* ONLY THIS SCROLLS */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 5px;
}

/* Single result */
.result-item {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid #b07a3f;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    font-size: 15px;
}

.no-result {
    text-align: center;
    font-size: 18px;
    color: #b00;
    font-weight: 600;
}
